<div class="container">

    <div class="center">
        <article class="card">
            
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="card-inner">
                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" ngNativeValidate>
                    <label class="title">LOGIN</label>
                    <label>USERNAME</label>
                    <input type="text"  id="login" placeholder="" formControlName="user"  required>
                    <label>PASSWORD</label >
                    <input type="password" id="password" placeholder="" formControlName="password" required>
                    <button type="submit" class="mask flex-center rgba-blue-light">LOGIN</button>
                </form>
            <div class="margin1"></div>
                <a class="link" href="#">Forgot your password?</a>
                <!-- Remind Passowrd -->
                <div class="alert alert-danger" *ngIf ="errorStatus">
                    <p class="underlineHover" href="#">{{errorMs}}</p>
                </div>
            </div>
           
        </article>
    </div>

</div>