
<app-header></app-header>

<div class="container">
    <div class="center">
        <article class="card">
            
            <div class="card-inner">
                <label class="title">Edit Solicitud</label>

                <form [formGroup]="editForm" (ngSubmit)="putForm(editForm.value)" ngNativeValidate>
                    <div class="row">
                        <div class="col-6">
                            <label>DATOS DE LA SOLICITUD</label>
                            <label>PALABRA CLAVE</label>
                            <input type="text" id="palabraClave" placeholder="" formControlName="palabraClave" required>

                            <label>ASUNTO</label>
                            <input type="text" id="asuntoDetallado" placeholder="" formControlName="asuntoDetallado" required>

                            <label>CLASIFICADOR</label>
                            <select type="text" id="idClasificador" placeholder="" formControlName="idClasificador" required>
                                <option value="" selected>Select</option>
                                <option *ngFor="let clasificador of clasificadores " value="{{clasificador.idClasificador}}">{{clasificador.descripcion}}
                                </option>
                            </select>

                        </div>
                        
                        <div class="col-6">
                            <label>DATOS DEL DOCUMENTO</label>
                
                            <label>DOCUMENTO</label>
                            <input type = "file" (change) = "handleUpload($event)" id = "archivo" accept = "application/pdf" placeholder = ""  >

                            <label>LINEA</label>
                            <input type="text" id="linea" #linea placeholder=""   >

                            <label>COMENTARIO</label>
                            <input type="text" id="comentario" #comentario placeholder="" >

                        </div>
                    </div>

                    <div class="margin"></div>
                    <button type="submit" class="mask flex-center rgba-blue-light">ADD</button>
                </form>

            </div>
        </article>
    </div>
</div>

<app-footer></app-footer>
