<app-header></app-header>

    <div class="container">

        <label class="title1">My Requests</label>
        <button class="mask flex-center rgba-blue-light" (click)="addRequest()">NUEVA</button>
        <input id="buscar"  placeholder="Buscar solicitud..."  required #buscar  (keyup)="buscarf($event)">
    


        <div class="row">
        <div class="col-4"  *ngFor="let request of requests">

            <div class="center">
            <article class="card">
                
    
                <div class="card-inner">
                    <label class="title" scope="row">ID Solicitud: {{ request.idSolicitud }}</label>
                    
                    <div class="border">

                    <label class="subtitle" >RESPUESTA</label>
                    <label *ngIf="(request.idRespuesta == null) || (request.idRespuesta == '1')" class="description" style="color: rgb(255, 51, 0);">Sin respueta...</label>
                    <input type="button" *ngIf="request.idRespuesta != null " class="show" style="background-color: rgb(43, 8, 38); color: azure; padding-right: 120px;"  (click)="show(request.idSolicitud)" value="Ver Respuesta">
                   
                    <label class="subtitle" >FECHA</label>
                    <label class="description">{{ request.fechaHora }}</label>
                  
                    <label class="subtitle" >USUARIO</label>
                    <label class="description">{{ request.idUsuario }}</label>

                    <label class="subtitle" >PALABRA CLAVE</label>
                    <label class="description" >{{ request.palabraClave }}</label>

                    <label class="subtitle" >ASUNTO</label>
                    <label class="description" >{{ request.asuntoDetallado }}</label>

                    <label class="subtitle" >CAMBIOS</label>
                    <label class="description" style="padding: 0px; margin-right: 0px;" >{{ request.cantidadCambios }}</label>
                    <input type="button"class="show" style="background-color: rgb(43, 8, 38); color: azure; padding-right: 120px;"  (click)="edit(request.idSolicitud)" value="Editar Solicitud">
                </div>
                <button class="btn btn-success" (click)="verArchivos(request.idSolicitud)">ARCHIVOS</button>

                </div>
            
            </article>
        </div>
            
        </div>
        
    </div>
        
        <button class="btn btn-success" (click)="ant()">Ant</button>
        <button class="btn btn-success" (click)="sig()">Sig</button>
        
    </div>

<app-footer></app-footer>

