
<app-header></app-header>

<div class="container">
    <div class="center">
        <article class="card">
            <div class="card-inner">
                <input class="btn btn-primary" (click)="newRequest()" type="button" value="" style="width: 100%;" >
                <iframe title="Reportes - Page 1" width="1300" height="711" src="https://app.powerbi.com/view?r=eyJrIjoiODk0YjJmMTEtODk2ZS00NzU3LWIzYjgtYzYzZjc3OThlNGVjIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                <!--width="1300" height="711"-->
            </div>
        </article>
    </div>
</div>
