
<app-header></app-header>
<div class="container">
    <div class="center">
        <article class="card">
            <div class="card-inner">
                <input class="btn btn-primary" type="button" value="NUEVA SOLICITUD" style="width: 100%;" >
                <img src="https://images.vexels.com/media/users/3/153552/isolated/preview/f6f555a34c17c7cfcaadb8ede3210b55---cone-de-gr--fico-gr--fico-de-neg--cios-by-vexels.png" width="200px" height="200px">
                <label class="link-item" >Coming soon</label>
            </div>
        </article>
    </div>
</div>
