$margin-label: 20px;
$color-font: #2a2929ca ;
$color-main: rgb(0, 0, 0, 0.25);
$font-text-label: 1.1em sans-serif;
$font-text-title:3.2em sans-serif;

.center{
    margin-top: 7%;
    margin-left: 0;
    /* IMPORTANTE */
    text-align: center;   
}

.card{
    width: 1300px;
    height: 700px;
    position: relative;
   
}

.card-inner{
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px; 
    font: $font-text-label;
    text-align: center;
}

img{
    margin-top: 33%;
}

label{
    width: 100%;
}

.btn{
    background: rgb(194,194,194);
    background: linear-gradient(90deg, rgb(202, 95, 95) 10%, rgb(97, 97, 97) 100%, rgb(242, 242, 242) 10%);
}

