
<app-header></app-header>

<div class="container">
    <div class="center">
        <article class="card">
            <div class="card-inner">
                <input class="btn btn-primary" (click)="newRequest()" type="button" value="" style="width: 100%;" >
                <iframe title="Reportes" width="1300" height="711" src="https://app.powerbi.com/view?r=eyJrIjoiNTM1N2NlNDYtZTQzNi00MTVkLTg4ZTktMTAyNmE2MGY4NjA4IiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9&pageName=ReportSectionbce8f5f9d3e7dddd573a" frameborder="0" allowFullScreen="true"></iframe>
                <!--width="1300" height="661"-->
            </div>
        </article>
    </div>
</div>
