<app-header></app-header>

    <div class="container">
    <label class="title">Users</label>
    
    <input type="text"   placeholder=""  required>
    <button  class="btn btn-success" (click)="ant()">SEARCH</button>

    <table class=" table table-hover">
        <thead>
            <tr>
            <th scope="col">Cedula</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Celular</th>
            <th scope="col">Correo</th>
            <th scope="col">Departamento</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" >
            <th scope="row">{{ user.cedula }}</th>
            <td (click)="editUser(user.cedula)" >{{ user.nombre }}</td>
            <td (click)="editUser(user.cedula)" >{{ user.apelllido1 }}</td>
            <td (click)="editUser(user.cedula)" >{{ user.celular }}</td>
            <td (click)="editUser(user.cedula)" >{{ user.correo }}</td>
            <td><button  class="btn btn-success " style="background-color: rgb(162, 2, 2); padding-left: 20px; padding-right: 70px;" (click)="deleteUser(user.cedula)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
    <button  class="btn btn-success" (click)="ant()">Ant</button>
    <button  class="btn btn-success" (click)="sig()">Sig</button>
    </div>
    
<app-footer></app-footer>