$margin-label: 20px;
$color-font: #2a2929ca ;
$color-main: rgb(0, 0, 0, 0.25);
$font-text-label: 1em sans-serif;
$font-text-title: 2.2em sans-serif;

.container{
    margin-top: 70px;
}

table{
    font-size: 1.2rem;
}

button{
    margin-left: 20px;
    width: 8%;
    background: rgb(255, 255, 255);
    background: #090521ea;
    border: 1px solid rgb(14, 0, 19);
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 17px 17px ;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;

}

button:hover{
    color: white;
    //border: 2px solid rgb(6, 6, 50);
    background: linear-gradient(90deg, var(--c1, #090521ea), var(--c2, #662fe7ea) 51%, var(--c1, #9491eee9)) var(--x, 0)/ 200%;
}

.title{
    font: $font-text-title;
    margin-top: 0px;
    margin-bottom: 40px;
   // font-weight:550;
    text-align: center;
}

input:focus{
    background-color: white;
    //border: 2px solid rgb(6, 6, 50);
    //background: linear-gradient(90deg, var(--c1, #090521ea), var(--c2, #662fe7ea) 51%, var(--c1, #9491eee9)) var(--x, 0)/ 200%;
}

input{ 
    margin-top: 10px;
    width: 30%;
    margin-left: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(14, 0, 19);
    line-height: 0;
    font-size: 17px;
    font-family: sans-serif;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 5px ;
    border-radius: 60px;
    color: rgb(14, 0, 19);
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}

::placeholder {
    color: rgba(14, 0, 19, 0.873);
    opacity: 3; /* Firefox */
    font-family: sans-serif;
}

input:focus {
    outline: none;
    border-image: linear-gradient(to right, rgb(6, 6, 50), rgb(197, 173, 209)) 1;
    border: 2.5px solid rgb(6, 6, 50);
}

img{
    width:50px;
    height:50px;
    border-radius: 10%;
}