<app-header></app-header>

    <div class="container">

        <label class="title">Request</label>
        <button class="mask flex-center rgba-blue-light" (click)="addRequest()">ADD</button>
        <input type="text"  placeholder=""  required>
        <button class="btn btn-success" (click)="ant()">SEARCH</button>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Palabra Clave</th>
                    <th scope="col">Cambios</th>
                    <th scope="col">Responder</th>
                    <th scope="col">Archivos</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of requests">
                    
                    <th scope="row">{{ request.idSolicitud }}</th>
                    <td (click)="editRequest(request.idSolicitud)">{{ request.fechaHora }}</td>
                    <td (click)="editRequest(request.idSolicitud)">{{ request.idUsuario }}</td>
                    <td (click)="editRequest(request.idSolicitud)">{{ request.palabraClave }}</td>
                    <td (click)="editRequest(request.idSolicitud)">{{ request.cantidadCambios }}</td>
                    <td><button class="btn btn-success" (click)="response(request.idSolicitud)"
                        style="background-color: rgb(177, 154, 76); padding-left: 20px; padding-right: 105px; border: none;margin: 0;">RESPONDER</button>
                        
                </td>
                    <td><button class="btn btn-success" (click)="verArchivos(request.idSolicitud)"
                            style="background-color: rgb(155, 188, 255); padding-left: 20px; padding-right: 55px;border: none; margin: 0;">VER</button>
                            
                    </td>
                    <td><button class="btn btn-success" (click)="deleteRequest(request.idSolicitud)"
                        style="background-color: rgb(130, 34, 34); padding-left: 20px; padding-right: 70px;border: none;margin: 0;">DELETE</button>
                        
                </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success" (click)="ant()">Ant</button>
        <button class="btn btn-success" (click)="sig()">Sig</button>
        
    </div>

<app-footer></app-footer>
